<style>
  
  body {backround-color: tomato;
    	margin: 10%;
      	font-family: "helvetica", sans-serif;
  		}
  
  ul {display: inline;
      list-style-type: none;
      background-color: tomato;
      width: 50%;
      margin: auto;
  		}
  li {
    Background-color: #ff9933;
    display: inline;
   		padding: 5px;
    text-align: center;
  	}
    
 
	.half {
		width: 40%;
		float: left;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.half-left {
		background-color:#006699;
		padding: 20px;
	}
	.half-left .date {
		color: #fff;
	}
	.half-left h1 {
		margin: 0;
		line-height: 1.2;
		color: #ff9933;
	}
	.half-right {
		padding: 20px;
	}
	.half-right p:first-child {
      	color: #006699;
		margin-top: 0;
  
  }
	.example {
		color: #aaa;
		text-align: center;
		font-style: italic;
	}
</style>

<body>
 <div id="ul">
   <li>Home</li>
   <li>about</li>
    <li>blog</li>
 </div>


<article class="post">
	<div class="half half-left">
		<h1>{{ page.title }}</h1>
	  <div class="date">
	    Written on {{ page.date | date: "%B %e, %Y" }}
	  </div>
	</div>
	<div class="half half-right">
	  <div class="entry">
	    {{ content }}
	  </div>
	</div>
	<p class="example"></p>

  {% include disqus.html %}
</article>

</body>
